@model IQueryable<Teacher>
@{
    ViewData["Title"] = "New Teacher";
    Layout ="_Layout";
}
    <partial name="_LayoutAccount" />
    <div class="view">
      <table class="table">
        <thead>
            <a href="/Admin/Create" data-toggle="modal" class="btn btn-primary btn-xs pull-right"><b>+</b> Add new teacher</a>
            <h3>Teachers</h3>
        </thead>
         <tbody>
            <tr>
                <th>ID</th>
                <th>Roaster</th>
                <th>Name</th>
                <th>Age</th>
                <th>BirthDate</th>
                <th>Base</th>
                <th>Action</th>
            </tr>
    @{
      @foreach (var item in @Model)
      {
        <tr>
          <td>@item.ID</td>
          <td>@item.Roaster</td>
          <td>@item.Names @item.MiddleName @item.LastName</td>
          <td>@item.Age</td>
          <td>@item.BirthDate.ToString("dd/MMMM/yyyy")</td>
          @{if(@item.IsBase){
              <td>Trues</td>
          }else{
              <td>False</td>
          }
          }
          <td>
            <a class='btn btn-info btn-xs' href="/Admin/Delete/@item.ID">
              <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
              <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
              </svg>
            </a>
          </td>
          </tr>
            
      }
    }
    </tbody>
    </table>
    </div>

   



