@model Teacher
@{
    ViewData["Title"] = "Profile";
    ViewBag.UserName = $"{@Model.Names} {@Model.MiddleName}";
    Layout ="_Layout";
}
    <partial name="_LayoutAccount" />

    <div class="view">
            <div class="row">
            @{
            if (@Model.Gender =='M')
            {
                <img src="https://toppng.com/uploads/preview/erson-icon-black-female-user-icon-11562985556wqtga6z7zf.png" width="200px" height="200px" alt="">
            }else{
                <img src="https://cdn3.iconfinder.com/data/icons/users/100/user_male_1-512.png" width="200px" height="200px" alt="">
            }
            <h5>@Model.Names @Model.MiddleName @Model.LastName</h5>
            if (@Model.GetHours() == 10)
            {
                <h4>Cordinator</h4>
            }else{
                <h4>Teacher</h4>
            }
            }
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label>BirthDate</label>
                </div>
                <div class="col-md-6">
                    <p>@Model.BirthDate.ToString("dd,MMMM,yyyy")</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label>RFC</label>
                </div>
                <div class="col-md-6">
                    <p>@Model.RFC</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label>CURP</label>
                </div>
                <div class="col-md-6">
                    <p>@Model.CURP</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label>Gender</label>
                </div>
                <div class="col-md-6">
                    <p>@Model.Gender</p>
                </div>
            </div>
                        
         

    </div>



