@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor;
@model SubjectsGroupList
@{
    ViewData["Title"] = "Group";
    Layout ="_Layout";
}
    <partial name="_LayoutAccount" />
     <div class="view">
        <div class="container">
            @{
                 <table class="table">
                     <thead>
                         <h3>@Model.Group.Name</h3>
                         <br>
                         <h3>Subjects selected</h3>
                     </thead>
                        <tbody>
                            <tr>
                                <th>ID</th>
                                <th>Key</th>
                                <th>Subject</th>
                                <th>Theory Hours</th>
                                <th>Practice Hours</th>
                            </tr>
                @foreach (var item in Model.SubjectsPerGroup)
                {          
                        <tr>
                        <td>@item.ID</td>
                        <td>@item.Key</td>
                        <td>@item.Name</td>
                        <td>@item.TheoryHours</td>
                        <td>@item.PracticeHours</td>
                        <td >
                            <a class='btn btn-info btn-xs' href="/Group/RemoveSubject/@item.ID">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                            <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                            </svg></a>
                        </td>
                       </tr>
                }
                    </tbody>
                </table>
            }
        </div>
        <div class="container">
            @{
                 <table class="table">
                     <thead>
                         <h3>Subjects avaiable</h3>
                     </thead>
                        <tbody>
                            <tr>
                                <th>ID</th>
                                <th>Key</th>
                                <th>Subject</th>
                                <th>Theory Hours</th>
                                <th>Practice Hours</th>
                            </tr>
                @foreach (var item in Model.SubjectsAvaiable)
                {          
                        <tr>
                        <td>@item.ID</td>
                        <td>@item.Key</td>
                        <td>@item.Name</td>
                        <td>@item.TheoryHours</td>
                        <td>@item.PracticeHours</td>
                        <td >
                            <a class='btn btn-info btn-xs' href="/Group/AddSubject/@item.ID">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-plus" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                            </svg></a>
                        </td>
                       </tr>
                }
                    </tbody>
                </table>
            }
        </div>

    </div>
    

    



